---
import Subtittle from "./text/Subtittle.astro"
import Text from "./text/Text.astro"
---

<section class="w-5/6 mx-auto flex flex-col" id="sobremi">
    <Subtittle size="medium">Sobre mi</Subtittle>

    <Text>
        Trabajé en el desarrollo de una aplicación Android, en la parte del FrontEnd, usando Kotlin, la
        aplicación trataba de una red social para deportistas en donde te permite organizar partidos de
        diferentes deportes, gestionando la reserva de la pista si es necesario y buscando a la gente según varios
        filtros y algoritmos de búsqueda.
    </Text>
</section>