<section class="w-5/6 mx-auto flex-col flex mb-20">
    <h2 class="text-primary font-bold lg:text-3xl sm:text-xl text-sm">Conocimientos y Capacidades</h2>
    <div class="mt-4 grid grid-cols-2 gap-4 w-full h-full">

        <!-- Primera columna: solo 1 fila -->
        <a class="bg-secondary col-span-1 rounded-md cursor-pointer">TEST</a>
    
        
        <div class="flex flex-col col-span-1 gap-4">
            <a class="bg-[#0065EF] flex-grow cursor-pointer flex justify-center rounded-md"><img class="rounded-md" alt="Universidad logo" src="u-tad.png"></a><!-- Universidad -->
            <a class="flex-grow rounded-md flex gap-4 items-center flex-wrap"><img class="rounded-md" src="laptop.jpg"></a>
        </div>
    </div>

</section>
  