<section class="ml-8 w-5/6 mx-auto flex-col hidden lg:flex">
    <h2 class="text-primary font-bold lg:text-3xl sm:text-xl text-sm">Conocimientos y Capacidades</h2>
    <div class="mt-4 grid grid-cols-2 gap-4 w-full h-full">

        <!-- Primera columna: solo 1 fila -->
        <a class="bg-secondary col-span-1 rounded-md cursor-pointer"></a>
    
        <!-- Segunda columna: 2 filas -->
        <div class="flex flex-col col-span-1 gap-4">
            <a class="bg-secondary flex-grow-[8] rounded-md cursor-pointer"></a>
            <a class="bg-secondary flex-grow-[2] rounded-md cursor-pointer"></a>
        </div>
    </div>

</section>
  