---
import Title from "./text/Title.astro"
---

<header class="w-5/6 mx-auto flex justify-between items-center lg:mb-20 lg:mt-8 sm:mb-4 sm:mt-4 mb-2 mt-2">
    <Title color="accent">Nestor Villa</Title>
    <a class="text-primary font-medium lg:text-lg sm:text-sm text-xs cursor-pointer" href="#experiencia">EXPERIENCIA</a>
    <a class="text-primary font-medium lg:text-lg sm:text-sm text-xs cursor-pointer" href="#sobremi">SOBRE MI</a>
    <button class="px-3 py-1 bg-secondary text-primary hover:text-secondary hover:bg-primary transition-all font-medium lg:text-lg sm:text-sm text-xs hidden md:block">ES</button>
</header>