---
import Title from "./text/Title.astro"
---

<header class="w-5/6 mx-auto flex justify-between items-center lg:mb-20 lg:mt-8 sm:mb-4 sm:mt-4 mb-2 mt-2">
    <Title color="accent" >Nestor Villa</Title>
    <a class="text-primary font-medium lg:text-lg sm:text-sm text-xs cursor-pointer">EXPERIENCIA</a>
    <a class="text-primary font-medium lg:text-lg sm:text-sm text-xs cursor-pointer">SOBRE MI</a>
    <button class="px-6 py-3 bg-secondary text-primary font-medium lg:text-lg sm:text-sm text-xs hidden md:block">ES</button>
</header>