---
import Title from "./text/Title.astro"
import Subtittle from "./text/Subtittle.astro"
import Text from "./text/Text.astro"
---

<section class="w-5/6 mx-auto flex items-center justify-between lg:mb-20 sm:mb-4 mb-2">
    <article>
        <Title>Ingeniero del software</Title>
        <Subtittle size="light">Fan del Open Source y Linux</Subtittle>
        
        <Text>
            Disfruto colaborando en equipos multidisciplinares, busco una posición
            que me permita aprovechar mis habilidades en el desarrollo de software, me especializo en: 
            <span class="font-bold">Big Data</span> e <span class="font-bold">Inteligencia Artificial. </span>       
        </Text>

        <footer class="lg:mt-8 sm:mt-4 mt-2 flex gap-2">
            <a><img class="lg:h-12 sm:h-8 h-6 " src="./icons/linkedin.svg" /></a>
            <a><img class="lg:h-12 sm:h-8 h-6" src="./icons/github.svg" /></a>
        </footer>
    </article>

    <aside class="ml-8 aspect-[64/72] max-w-60 overflow-hidden rounded-lg hidden md:block">        
        <img class="w-full h-full object-cover" src="./fotoPerfil.jpg"/>
    </aside>

</section>
