---
import Subtittle from "./text/Subtittle.astro"
import Text from "./text/Text.astro"
---

<section class="w-5/6 mx-auto flex flex-col mb-20">
    <Subtittle size="medium">Proyectos</Subtittle>
    <div class="flex gap-10">
        <div class="flex flex-col">
            <article>
                <Subtittle size="light">Dactive</Subtittle>
                <Text>
                    Trabajé en el desarrollo de una aplicación Android, en la parte del FrontEnd, usando Kotlin, la
                    aplicación trataba de una red social para deportistas en donde te permite organizar partidos de
                    diferentes deportes, gestionando la reserva de la pista si es necesario y buscando a la gente según varios
                    filtros y algoritmos de búsqueda.
                </Text>
            </article>

            <article>
                <Subtittle size="light">Proyecto de Doctorado</Subtittle>
                <Text>Colaboré con un estudiante de Inglaterra de psicología de la universidad de Cardiff.</Text>
                <Text>
                    Ayudé con la parte técnica, desarrollando el FrontEnd de la página web donde se llevaría a cabo el experimento. Incluye
                    reconocimiento de la mirada para saber en qué parte de la web se fijan más los sujetos, 3 grupos
                    diferentes, donde en cada uno se estudió la importancia que le daban a las recomendaciones de la IA.
                </Text>
            </article>
        </div>
        <div class="flex flex-col">
            <article>
                <Subtittle size="light">Proyecto de Doctorado</Subtittle>
                <Text>Colaboré con un estudiante de Inglaterra de psicología de la universidad de Cardiff.</Text>
                <Text>
                    Ayudé con la parte técnica, desarrollando el FrontEnd de la página web donde se llevaría a cabo el experimento. Incluye
                    reconocimiento de la mirada para saber en qué parte de la web se fijan más los sujetos, 3 grupos
                    diferentes, donde en cada uno se estudió la importancia que le daban a las recomendaciones de la IA.
                </Text>
            </article>
            
            <article>
                <Subtittle size="light">Solther Renovables</Subtittle>
                <Text>
                    Desarrollé una serie de herramientas con Python para automatizar procesos de la empresa, desarrollé
                    un formulario con React y Express para que el cliente pueda obtener un presupuesto automáticamente
                    y el equipo de solther pueda obtener datos del cliente.   
                </Text>
            </article>
        </div>
    </div>
</section>