---

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Software Engineer, passionate about linux" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content="generator" />
		<title>Nestor Villa - Portfolio</title>
	</head>

	<body>
		<!-- MAIN CONTENT --> 
		<slot />
	
	</body>
</html>